$margin : 10px;
$height : 130px;
$font-color: #252a28;

$button-position: -60px;

.container {
   box-sizing: border-box;
}

.carousel {
    
    width: auto;
    margin: 60px 80px;
    position: relative;
    color: #4b554f;

    .carousel__header {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .carousel__tracker {
        width: 30000px;
        transition: transform 500ms linear;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }

    .carousel__body {
        width: 100%;
        overflow: hidden;
    }

    .carousel__button {
        height: 100%;
        padding: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:after {
            background-image: url('./../img/arrow.png');
            background-size: 100% 100%;
            width: 64px;
            height: 64px;
            content: " ";
            font-size: 2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .carousel__button--left {
        
        left: $button-position;
     
        &:after {
            transform: translate(-50%, -50%) scaleX(-1);
        }
    }

    .carousel__button--right {
      
        right: $button-position;
    }
    
    .carousel__slide {

        width: 200px;
        overflow: hidden;
        display: inline-block;

        .slide__img {
            height: 130px;
            margin-bottom: 10px; 

            img {
                width: 100%;
                height: 100%;
            }
        }
    
        .slide__detail div:not(:last-child) {
            margin-bottom: 5px;
        }

        .slide__detail {
            width: inherit;
            white-space : normal;
        }
    
        .slide__text {
            font-size: 0.65em;
        }

        .slide__rating {
            font-size: 1em;
            position: relative;
        }
    
        .slide__price {
            font-weight: bold;
            color: $font-color;        
            font-size: 0.8em;
            margin-right: 5px;
        }
    }

    .carousel__slide:not(:last-child) {
        margin-right: 20px;
    }

    .rating__start {
        
        width: 13px;
        height: 13px;
        font-size: 13px;
        margin-right: 3px; 
        position: relative;
        display: block;
        float: left;
        
        &:after {
            position: absolute;
            content: "\2605";
            display: block;
        }
    }

    .rating__top {
        color: #7dd72b;
        position: absolute;
        z-index: 1;
    }

    .rating__text {
        font-size: 12px;
        position: relative;
    }
    
}

@media (min-width: 950px) { 

    .carousel {

        margin: 60px 300px;

        .carousel__header {
            font-size: 2.5em;
            margin-bottom: 30px;
        }

        .carousel__slide {

            width: 400px;
            margin-right: 60px;

            .slide__img {
                height: 280px;
            }

            .slide__text {
                font-size: 1.6em;
            }

            .slide__rating {
                font-size: 1em;
            }
        
            .slide__price {
                font-size: 2em;
            }
        }

        .carousel__slide:not(:last-child) {
            margin-right: 60px;
        }
        
    }

}