* {
  margin: 0px;
  padding: 0px;
  font-family: 'Arial'; }

.container {
  box-sizing: border-box; }

.carousel {
  width: auto;
  margin: 60px 80px;
  position: relative;
  color: #4b554f; }
  .carousel .carousel__header {
    font-size: 1.8em;
    margin-bottom: 20px; }
  .carousel .carousel__tracker {
    width: 30000px;
    transition: transform 500ms linear;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
  .carousel .carousel__body {
    width: 100%;
    overflow: hidden; }
  .carousel .carousel__button {
    height: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .carousel .carousel__button:after {
      background-image: url("./../img/arrow.png");
      background-size: 100% 100%;
      width: 64px;
      height: 64px;
      content: " ";
      font-size: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .carousel .carousel__button--left {
    left: -60px; }
    .carousel .carousel__button--left:after {
      transform: translate(-50%, -50%) scaleX(-1); }
  .carousel .carousel__button--right {
    right: -60px; }
  .carousel .carousel__slide {
    width: 200px;
    overflow: hidden;
    display: inline-block; }
    .carousel .carousel__slide .slide__img {
      height: 130px;
      margin-bottom: 10px; }
      .carousel .carousel__slide .slide__img img {
        width: 100%;
        height: 100%; }
    .carousel .carousel__slide .slide__detail div:not(:last-child) {
      margin-bottom: 5px; }
    .carousel .carousel__slide .slide__detail {
      width: inherit;
      white-space: normal; }
    .carousel .carousel__slide .slide__text {
      font-size: 0.65em; }
    .carousel .carousel__slide .slide__rating {
      font-size: 1em;
      position: relative; }
    .carousel .carousel__slide .slide__price {
      font-weight: bold;
      color: #252a28;
      font-size: 0.8em;
      margin-right: 5px; }
  .carousel .carousel__slide:not(:last-child) {
    margin-right: 20px; }
  .carousel .rating__start {
    width: 13px;
    height: 13px;
    font-size: 13px;
    margin-right: 3px;
    position: relative;
    display: block;
    float: left; }
    .carousel .rating__start:after {
      position: absolute;
      content: "\2605";
      display: block; }
  .carousel .rating__top {
    color: #7dd72b;
    position: absolute;
    z-index: 1; }
  .carousel .rating__text {
    font-size: 12px;
    position: relative; }

@media (min-width: 950px) {
  .carousel {
    margin: 60px 300px; }
    .carousel .carousel__header {
      font-size: 2.5em;
      margin-bottom: 30px; }
    .carousel .carousel__slide {
      width: 400px;
      margin-right: 60px; }
      .carousel .carousel__slide .slide__img {
        height: 280px; }
      .carousel .carousel__slide .slide__text {
        font-size: 1.6em; }
      .carousel .carousel__slide .slide__rating {
        font-size: 1em; }
      .carousel .carousel__slide .slide__price {
        font-size: 2em; }
    .carousel .carousel__slide:not(:last-child) {
      margin-right: 60px; } }

/*# sourceMappingURL=output.css.map */
